<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.m2e.core.lifecycleMappingMetadataSource">
   </extension>
   <extension
         point="org.eclipse.m2e.core.projectConfigurators">
      <configurator
            class="net.orcades.ide.eclipse.settings.OrcadesProjectConfigurator"
            id="net.orcades.m2eclipse.configurator.eclipse.config"
            name="ORCADES CONFIG"
            >
      </configurator>
      <configurator
            class="net.orcades.ide.eclipse.settings.WTPDeploymentProjectConfigurator"
            id="net.orcades.m2eclipse.configurator.wtp"
            name="ORCADES WTP"
            secondaryTo="org.maven.ide.eclipse.configuration.wtp.configurator"
           >
      </configurator>
     
   </extension>
   
   
</plugin>
